@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-2 pb-10 pt-16 mt-3 sm:pt-24 max-md:pb-32 sm:px-10;
  }
  .gradient-primary {
    @apply bg-gradient-to-t from-[#d77cff] via-[#a76cff] to-[#876cff]
  }
  .header-gradient {
    @apply text-transparent bg-clip-text gradient-primary
  }

  .sort-by-link{
    @apply text-center py-1 transition-all duration-200 ease-in-out rounded-lg bg-dark-2 text-light-1 font-semibold hover:bg-primary-500 hover:bg-opacity-80
  }
  .link-activate{
    @apply text-center py-1 transition-all duration-200 ease-in-out rounded-lg bg-primary-500 text-light-1 font-semibold
  }
  /* /* Head Text * */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-dark-2 px-2 py-2 xs:px-3 xs:py-2 hover:bg-dark-4 transition-all duration-200 ease-in-out;
  }

  /* No Result */
  .no-result {
    @apply text-center !text-base-regular text-light-3;
  }

 
  /* thread card  */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }

  /* User card */
  .user-card {
    @apply flex flex-row justify-between gap-3 max-xs:rounded-xl p-0 items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] max-w-[120px] rounded-xl bg-primary-500 text-[12px] text-light-1 !important;
  }

  .searchbar {
    @apply flex gap-1 rounded-xl bg-dark-3 px-4 py-2;
  }
  /* .searchbar #text{
    @apply hidden;
  } */
  .searchbar_input {
    @apply border-none bg-dark-3 text-base-regular text-light-2 placeholder-light-3 outline-none !important;
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism px-4 py-2 backdrop-blur-md xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-xl p-2 sm:flex-1 sm:px-2 sm:py-2.5 transition-colors duration-200 ease-in-out;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between transition-colors duration-200 ease-in-out
           overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-xl p-4 transition-colors duration-300 ease-in-out;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 pb-6 pt-16 max-xl:hidden;
  }
  .show-more_btn {
    @apply !bg-transparent hover:bg-primary-500 hover:bg-opacity-30 text-light-3 hover:text-secondary-500 text-subtle-medium
      absolute -bottom-[22px] right-0 transition-all duration-150 ease-in-out
  }
  .explore_btn{
    @apply px-5 py-2 text-light-1 transition-all duration-150 ease-in-out bg-primary-500 rounded-xl outline-none shadow-md hover:bg-secondary-500 hover:text-dark-2
  }
  .hover-to-secondary{
    @apply hover:text-secondary-500 transition-colors duration-200 ease-in-out
  }

}

@layer utilities {

  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* width */
textarea::-webkit-scrollbar {
  width: 8px;
}

/* Track */
textarea::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

/* Handle on hover */
textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger
  .cl-organizationPreview
  .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Shadcn Component Styles */
a.global-mention{
  @apply text-primary-500 hover:text-secondary-500 transition-colors duration-150 ease-in-out ;
}
/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
}

.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1 !important;
}

/* Comment Form */
.comment-form {
  @apply mt-8 flex items-center gap-4 border-y border-y-dark-4 py-5 max-sm:flex-col !important;
}

.comment-form_btn {
  @apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-sm:w-full !important;
}

/* Force modal background */
.data-\[state\=open\]\:fade-in-0 {
  @apply !bg-dark-2/80
}
div[role=dialog] > button > svg{
  @apply !text-light-2
}